body {
    margin: 0;
    background-color: ghostwhite;
}
.header{
    height: auto;
    background-color: lightsteelblue;
    color:ghostwhite;
    font-size: 1.5em;
    padding: .1em;
    padding-right: 2em;
    font-family: Courier;
    margin: 0;
}
.container {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    background-color: ghostwhite;
}
h1 {
    text-align: center;
    font-family: Courier;
    font-size: 4em;
    margin-top: 0em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;   
}
h2 {
    font-size: 2em;
    padding-left: 3em;
    font-family: Courier;
    color: lightsteelblue;
    padding-top: 1em;
    white-space: nowrap;
}
h4 {
    font-size: 1.2em;
    padding-left: 2em;
}
p {
    padding-left: 2em;
}
ul {
    padding-left: 2.7em;
}
section {
    background-color: white;
    font-family: Bookman Old Style;
    border-color: lightslategray;
    border-style: double;
    padding: 1em;
    border-radius: 2em;
    border-width: .25em;
    line-height: 1.5em;
    overflow: auto; 
}
.footer {
    height: auto;
    background-color: lightsteelblue;
    color: ghostwhite;
    font-size: 1.5em;
    padding: .1em;
    padding-right: 2em;
    font-family: Courier;
}
.clearfix {
    overflow: auto;
}
aside {
    font-family: Bookman Old Style;
    float: right;
    border-style: solid;
    width: fit-content;
    padding-right: 2em;
    border-radius: 3em;
    font-size: 1.25em;
}
.button {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: box-shadow, background-color, color;
    box-shadow: inset 0 0 0 4px ghostwhite, 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 3em;
    color: lightsteelblue;
    border-style: double;
    border-color: lightsteelblue;
}
.button:hover, .button:focus, .button:active {
    box-shadow: inset 0 0 0 4px cornflowerblue, 0 0 5px rgba(0, 0, 0, 0);
    background-color: ;
    color: cornflowerblue;
}
a {
    float: right;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightsteelblue;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 0.25em 0.25em 0.25em 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: grey;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}
div.sidenav ul {
    padding-right: 1em;
    line-height: 5em;
}
div.sidenav ul a{
    border-bottom-style: dashed;
    border-top-style: dashed;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}
.sidenav a:hover, .offcanvas a:focus{
    color: ghostwhite;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.25em;
    font-size: 2em;
    margin-left: 4em;
}
#main {
    transition: margin-left .5s;
    padding: 0em;
    overflow: hidden;
    width:100%;
}
body {
  overflow-x: hidden;
}
.topnav {
    background-color: lightsteelblue;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 2em 2em;
    text-decoration: none;
    font-size: 1em;
}
.topnav a:hover {
    background-color: gray;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    section {font-size: 18px;}
} 
a svg{
  transition:all .5s ease;
  &:hover{
    #transform:rotate(180deg);
    }
}
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
  #transition: all 0.5s ease;

    a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
      
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
    &:hover{
      background: #555;
    }
  }
}
.phone {
    float: right;
}
.email {
    float: left;
}
.feedback {
    float: right;
}
.questions {
    float: left;
}
.sectionOne {
    background-color: white;
    font-family: Bookman Old Style;
    border-color: lightslategray;
    border-style: double;
    padding: 2em 15%;
    border-radius: 2em;
    border-width: .25em;
    line-height: 1.5em;
    overflow: auto;
    text-align: center;
}
.sectionTwo {
    background-color: white;
    font-family: Bookman Old Style;
    border-color: lightslategray;
    border-style: double;
    padding: 2em 5%;
    border-radius: 2em;
    border-width: .25em;
    line-height: 1.5em;
    overflow: auto;
    text-align: center;
}